.di-contact-success{
  display:none;
  background:#00d1b2;
  color:#fff;
  padding:50px 0;
  h3{
    margin:0;
  }
}
#di-contact-form{
  text-align: left;
  font-size:2rem;
}
.dealerInspireErrors{
  color:#ED4337;
  font-size:1.5rem;
}

